body
{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container
{
    margin:0px auto 0px; 
    width: 90%;
}
.container h2
{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
    font-size: 2em;
    position: sticky;
}
.container h2 span
{
    padding: 0.2em;
    border-radius: 50%;
    background-color: rgb(255, 28, 3);
    color: white;
}

.container .row
{
    width: 90%;
    display: flex;
    margin: auto;
}

.container .row .col1
{
    border-radius: 0.5em;
    margin: 0.5em;
    padding: 2em;
    background-color: rgb(194, 194, 194);
    width:40%;
}

.container .row .col1 #error
{
    background-color: red;
    color: white;
    padding: 1em;
    font-size: 18px;
    border-radius: 0.5em;
}
.container .row .col1 .title1, .col2 .title1
{
    font-size: 2em;
    display: block;
    color: rgb(255, 28, 3);
    text-align: center;
    margin-bottom: 1em;
}


.container .row .col2
{
    border-radius: 0.5em;
    padding: 1em;
    margin: 0.5em;
    border: 1px solid rgb(255, 210, 210);
    background-color: rgb(255, 255, 255);
    width:50%;
}
.container .row .col2 div
{
margin: 5px;
}
.container .row .col2 .subtitle
{
    font-size: x-large;
    color: rgb(255, 28, 3);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.container .row .formGroup
{
    font-size: 1.3em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.container .row .formGroup input[type=text]
{
    border: none;
    padding: 0.7em;
    border-radius: 0.2em;
}
.container .row button
{
    color: white;
    background-color: rgb(255, 28, 3);
    border: none;
    font-size: 1.3em;
    border-radius: 5px;
    padding: 0.5em;
    float: right;
    width: 30%;
}
.container .row button:hover
{
    cursor: pointer;
    background-color: #e82222;
}