*{
    padding: 0px;
    margin: 0;
}
body
{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.header
{
    height: 100vh;
    background-image: url('images/background.jpg');
    position: relative;
    background-position: center;
    background-size: cover;
    background-color: rgb(225, 225, 225);
}
.title
{
    position: absolute;
    top: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
    font-size: 2em;
  }
  .title img
  {
  width:50%;
  }

.header .header-content
{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .header-content h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4em;
    font-weight: 400;
    text-align: center;
    color: rgb(146, 20, 20);
}

.header .header-content button
{
    margin-top: 10%;
    background-color: #fff;
    padding:0.5em 0.5em;
    border:none;
    font-size: 1.5em;
    border-radius: 0.5em;
}

/* *******Results section***** */
.results
{
    background-color: rgb(114, 180, 242);
}

.results .row1
{
    width: 90%;
    display: flex;
    justify-content:center;
    margin: auto;
}

.results .row1 .col1
{
    background-color:rgba(#949496, 0.3); 
    border-radius: 0.5em;
    margin: 0.5em;
    padding: 2em;
    font-size: 1.2em;
    width:40%;
}

.results .row1 .col1 #error
{
    /* background-color: red; */
    color: white;
    padding: 1em;
    font-size: 18px;
    border-radius: 0.5em;
}
.results .row1 .col1 .title1, .col2 .title1
{
    font-size: 2em;
    display: block;
    color: #ffffff;
    text-align: center;
    margin-bottom: 1em;
}


.results .row1 .col2
{
    border-radius: 0.5em;
    padding: 1em;
    margin: 0.5em;
    background-color:rgba(#949496, 0.3);     
    width:50%;
    border:1px solid #fff;
}
.results .row1 .col2 div
{
margin: 5px;
}
.results .row1 .col2 .subtitle
{
    font-size: x-large;
    color: rgb(255, 255, 255);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.results .row .formGroup
{
    background-color:violet;
    font-size: 1.3em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.results .row1 .formGroup input[type=text]
{
    border: none;
    padding: 0.7em;
    border-radius: 0.2em;
}
.results .row1 .formGroup input[type=text]:focus
{
    border:none;
}
.results .row1 button
{
    color: white;
    background-color: rgb(255, 28, 3);
    border: none;
    font-size: 1.3em;
    border-radius: 5px;
    padding: 0.5em;
    float: right;
    margin-top: 0.3em;
    width: 30%;
}
.results .row1 button:hover
{
    
    cursor: pointer;
    background-color: #e82222;
}
.results .row1 button:focus
{
    border: none;
}

/* *****footer****** */
.footer
{
    background-color: rgb(107, 107, 107);
    color: #fff;
    padding-top:3em;
    padding-bottom: 5em;
    display: flex;
    justify-content: center;
}
.footer .row
{ 
    width: 90%;
    display: flex;
    justify-content: center;
}
.footer .row .col
{
    float: left;
    width:30%;
    flex-wrap: wrap;
}
.footer input[type=text]
{
    border: none;
    font-size: 17px;
    padding: 5px;
    border-radius: 5px;
}
.footer h3{
    font-size: 1.4em;
    margin-bottom: 1em;
}

.footer p{
    padding:0.3em;

}
.footer button
{
    padding: 5px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}

.footer button:hover
{
    cursor: pointer;
    color:rgb(204, 159, 10);
}