*{
    padding: 0px;
    margin: 0;
}
body
{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.header
{
    height: 100vh;
    background-image: url('images/background.jpg');
    position: relative;
    background-position: center;
    background-size: cover;
    background-color: rgb(225, 225, 225);
}
.title
{
    position: absolute;
    top: 2em;
    left: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
    font-size: 2em;
  }

.header h2 span
{
    padding: 0.2em;
    border-radius: 50%;
    background-color: rgb(255, 28, 3);
    color: white;
}
.header .form
{
    background-color: crimson;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
/* *******Results section***** */
.results
{
    /* margin:0px auto 0px;  */
    /* width: 90%; */
}

.results .row
{
    width: 90%;
    display: flex;
    margin: auto;
}

.results .row .col1
{
    border-radius: 0.5em;
    margin: 0.5em;
    padding: 2em;
    background-color: rgb(194, 194, 194);
    width:40%;
}

.results .row .col1 #error
{
    background-color: red;
    color: white;
    padding: 1em;
    font-size: 18px;
    border-radius: 0.5em;
}
.results .row .col1 .title1, .col2 .title1
{
    font-size: 2em;
    display: block;
    color: rgb(255, 28, 3);
    text-align: center;
    margin-bottom: 1em;
}


.results .row .col2
{
    border-radius: 0.5em;
    padding: 1em;
    margin: 0.5em;
    border: 1px solid rgb(255, 210, 210);
    background-color: rgb(255, 255, 255);
    width:50%;
}
.results .row .col2 div
{
margin: 5px;
}
.results .row .col2 .subtitle
{
    font-size: x-large;
    color: rgb(255, 28, 3);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.results .row .formGroup
{
    font-size: 1.3em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.results .row .formGroup input[type=text]
{
    border: none;
    padding: 0.7em;
    border-radius: 0.2em;
}
.results .row .formGroup input[type=text]:focus
{
    border:none;
}
.results .row button
{
    color: white;
    background-color: rgb(255, 28, 3);
    border: none;
    font-size: 1.3em;
    border-radius: 5px;
    padding: 0.5em;
    float: right;
    width: 30%;
}
.results .row button:hover
{
    
    cursor: pointer;
    background-color: #e82222;
}
.results .row button:focus
{
    border: none;
}

/* *****footer****** */
.footer
{
    background-color: rgb(107, 107, 107);
    color: #fff;
    padding-top:3em;
    padding-bottom: 5em;
    display: flex;
    justify-content: center;
}
.footer .row
{ 
    width: 90%;
    display: flex;
    justify-content: center;
}
.footer .row .col
{
    float: left;
    width:30%;
    flex-wrap: wrap;
}
.footer input[type=text]
{
    border: none;
    font-size: 17px;
    padding: 5px;
    border-radius: 5px;
}
.footer h3{
    margin-bottom: 1em;
}

.footer p{
    padding:0.3em;

}
.footer button
{
    padding: 5px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}

.footer button:hover
{
    cursor: pointer;
    color:rgb(204, 159, 10);
}